<%
    var appDesc = 'Amsterdam is deze week het episch centrum van de dancewereld. Meer dan tweeduizend artiesten breken in vijf dagen en nachten de tent af op 350 locaties.',
        appUrl = 'http://kvendrik.github.io/blendle-test',
        appName = 'ADE: Roadtrippen met Amsterdam\'s Finest - Revu - Blendle';

    var rootPath = 'www/';
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= appName %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="<%= appDesc %>">

    <meta name="author" content="Koen Vendrik">
    <meta name="follow" content="index, follow">

    <meta property="og:site_name" content="<%= appName %>">
    <meta property="og:locale" content="nl-NL">
    <meta property="og:type" content="website">
    <meta property="og:description" content="<%= appDesc %>">
    <meta property="og:url" content="<%= appUrl %>">
    <meta property="og:title" content="<%= appName %>">
    <meta property="og:image" content="<%= appUrl %>/<%= rootPath %>img/elias-mazian-on-stage.jpg">
    <meta property="fb:app_id" content="">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@blendle">
    <meta name="twitter:url" content="<%= appUrl %>">
    <meta name="twitter:title" content="<%= appName %>">
    <meta name="twitter:description" content="<%= appDesc %>">
    <meta name="twitter:image" content="<%= appUrl %>/<%= rootPath %>img/elias-mazian-on-stage.jpg">

    <link rel="apple-touch-icon" sizes="57x57" href="<%= rootPath %>img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= rootPath %>img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= rootPath %>img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= rootPath %>img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= rootPath %>img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= rootPath %>img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= rootPath %>img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= rootPath %>img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= rootPath %>img/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="<%= rootPath %>img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="<%= rootPath %>img/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="<%= rootPath %>img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="<%= rootPath %>img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="<%= rootPath %>img/favicons/manifest.json">
    <link rel="mask-icon" href="<%= rootPath %>img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="<%= rootPath %>img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="<%= rootPath %>img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="<%= rootPath %>img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="<%= rootPath %>css/main.min.css?<%= Date.now() %>">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Crimson+Text:400,400italic,600,600italic|Alegreya+Sans:500,500italic,700,700italic,800,800italic|Source+Sans+Pro:700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <script src="https://use.typekit.net/nsq6dtn.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!--[if IE 9 | lt IE 9]>
        <script src="www/js/classlist-shim.min.js"></script>
    <![endif]-->
    <!--[if IE 8 | lt IE 8]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <%- body %>

    <script src="<%= rootPath %>js/app.js?<%= Date.now() %>"></script>

  </body>
</html>