<%
    var articleTitle = 'ADE: Roadtrippen met Amsterdam\'s Finest',
        articleDesc = 'Amsterdam is deze week het episch centrum van de dancewereld. Meer dan tweeduizend artiesten breken in vijf dagen en nachten de tent af op 350 locaties.',
        articleUrl = 'http://revu.nl',
        appName = 'Revu';
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= articleTitle %> | <%= appName %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="<%= articleDesc %>">

    <meta name="author" content="Koen Vendrik">
    <meta name="follow" content="index, follow">

    <meta property="og:site_name" content="<%= articleTitle %> | <%= appName %>">
    <meta property="og:locale" content="nl-NL">
    <meta property="og:type" content="website">
    <meta property="og:description" content="<%= articleDesc %>">
    <meta property="og:url" content="<%= articleUrl %>">
    <meta property="og:title" content="<%= articleTitle %> | <%= appName %>">
    <meta property="og:image" content="<%= articleUrl %>/img/revu-og.png">
    <meta property="fb:app_id" content="">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@revu">
    <meta name="twitter:url" content="<%= articleUrl %>">
    <meta name="twitter:title" content="<%= articleTitle %> | <%= appName %>">
    <meta name="twitter:description" content="<%= articleDesc %>">
    <meta name="twitter:image" content="<%= articleUrl %>/img/revu-og.png">

    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="shortcut icon" href="/img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2f88bf">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="/css/main.min.css">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Crimson+Text:400,400italic,600,600italic|Alegreya+Sans:500,500italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/nsq6dtn.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!--[if IE 8]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <%- body %>

  </body>
</html>